
<div id="search"></div>
<div class="main-container">
	<h2>Welcome, join contests by adding all your flights, then click here:</h2>
	<% if user_signed_in? %>
		<!-- <a id="welcome-contest" class="button-standard-link">Access contests</a> -->
		<%= link_to 'Access contests', user_path(current_user), class: "button-standard-link" %>
	<% end %>
	<div class="form-container">


	<!-- <select id="test-algo" multiple style="width: 300px;"></select> -->

	<%= simple_form_for(@flight) do |f| %>
	  
		  	<div class="form-input-div">
		  		<div class="form-input-container">
				  	<div class="suggestion">
				  		<%= f.label :depart, 'Depart airport:' %>
					 	<%= f.text_field :depart, placeholder: 'Beijing, PEK' %>
					  <li id="depart__suggestion" style="display: none;"></li>
			      	</div>
		  	  	
			  		<div class="suggestion">
			  			<%= f.label :arrival, 'Arrival airport:' %>
					  	<%= f.text_field :arrival, placeholder: 'New york, JFK' %>
					  	<li id="arrival__suggestion" style="display: none;"></li>
			      	</div>

			      	<div class="suggestion">
			      		<%= f.label :repetition, 'Repetition:' %>
					  	<%= f.text_field :repetition, placeholder: '4' %>
			      	</div>

			      	<%= f.hidden_field :distance %>
	  				<%= f.hidden_field :iata_departure %>
	  				<%= f.hidden_field :iata_arrival %>

	  				<%= f.button :submit, "Add flight", class: "button-standard" %>
		      	</div>
		      	<p id="error-signal">Airports need to be selected from the suggestions list showing when typing in the input field.</br> Repetition is the number of flight from one airport to the other (E.g. For a round-way put 2).</p>
	      	</div>

	      	<!-- <div class="checkbox-styled-input"><i style="display: block;" class="fas fa-check"></i></div> -->
	  	
		<% end %>
	</div>
	<% if user_signed_in? && @flights.length != 0 %>
		<% @flights.each do |flight| %>  
			<ul class="listes-trajets">
				<li class="inlist-airport-display"><%= flight.depart %> - <%= flight.arrival %></li>
				<% if flight.repetition != nil && flight.repetition != 0 %>
					<li class="inlist-stat-display"><%= (flight.distance.to_i * flight.repetition.to_i) %> Km</li>
				<% else %>
					<li class="inlist-stat-display"><%= flight.distance %> Km</li>
				<% end %>
				<div class="checkbox-styled-input"><%= flight.repetition %> x</div>
				<%= link_to(flight, method: :delete) do %>
					<i class="far fa-trash-alt"></i>
				<% end %>
			</ul>
		<% end %>
	<% else %>
		<p>Your flights will be displayed here</p>
	<% end %>

</div>

