<%= javascript_pack_tag 'mapChart', 'data-turbolinks-track': 'reload' %>

<h2 class="user-title my-4">Welcome to your profile</h2>
<div class="main-div-user">

	<div class="bg-white border border-white m-0 py-2 h-100" style="border-radius: 10px;">
		<ul class="listes-trajets user-profile border border-white m-0" style="border-radius: 10px;">
			<li><%= @carbon.round(1) %>t <%= image_tag("Co2_icon.png", width: 35) %></li>
			<li><%= @distance %>km</li>
			<li><button data-toggle="collapse" data-target="#collapseMap" aria-expanded="true" id="dropdownBtn" class="button-dropdown-orange"  ><i id="collapseIcon" class="fas fa-arrow-down fa-arrow-down-animated"></i></button></li>
		</ul>

			
		<div class="collapse show p-4" id="collapseMap">
			<div id="chartdiv" style="height:400px; !important"></div>	
		</div>
	</div>



	<input id="flights" type="hidden" data-travels='<%= @airports.to_json.html_safe %>'>


	<div class="div-user-user-action">

		<p class="menu">Menu</p>


		<%= link_to new_flight_path do %>
		<i class="fas fa-plane"></i>   Add flights to my profile
		<% end %></br>
		<%= link_to new_ranking_path do %>
		<i class="fas fa-plus-square"></i>   Create new contest
		<% end %></br>
		
		<div data-toggle="collapse" data-target="#collapseMyContests" aria-expanded="true"  class="title-menu">
			<p>Your contests (<%= @user.rankings.count %>)</p><i class="fas fa-arrow-down"></i> 
		</div>
		<div id="collapseMyContests">
		<% @user.rankings.each do |ranking| %>
			<%= link_to ranking_path(ranking.id) do %>
			<i class="fas fa-crown"></i> <%= ranking.name %></br>
			<% end %>
		<% end %>
		</div>

		<div data-toggle="collapse" data-target="#collapseAllContests" aria-expanded="true"  class="title-menu">
			<p>All contests (<%= @rankings.count %>)</p><i class="fas fa-arrow-down"></i> 
		</div>
		<div id="collapseAllContests">
		<% @rankings.each do |ranking| %>
			<%= link_to ranking_path(ranking.id) do %>
			<i class="fas fa-crown"></i> <%= ranking.name %></br>
			<% end %>
		<% end %>
		</div>
	</div>
</div>

